@import "settings/settings";
@import "generic/generic";

*, html, body {
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: "museo_sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  color: map-get($heading, h1);
  font-size: 1.5rem;
}

h2 {
  color: map-get($heading, h2);
  font-size: 1.4rem;
}

h3 {
  color: map-get($heading, h3);
  font-size: 1.3rem;
}

h4 {
  color: map-get($heading, h4);
  font-size: 1.2rem;
}

h5 {
  color: map-get($heading, h5);
  font-size: 1.1rem;
}

h6 {
  color: map-get($heading, h6);
  font-size: 1rem;
}

a {
  outline: none;
  text-decoration: none;
  color: map-get($links, color);

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.btn {
  background-color: map-get($buttons-default, background);
  border: solid 1px map-get($buttons-default, border);
  color: map-get($buttons-default, color);
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 1rem;

  &:hover, &:focus {
    text-decoration: none;
    background-color:map-get($buttons-default, hover);
  }

  &[disabled], &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover, &:focus {
      background-color:map-get($buttons-default, background);
    }
  }

  &.small {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
  }

  &.large {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.2rem;
  }

  &.primary {
    background-color: map-get($buttons-primary, background);
    border: solid 1px map-get($buttons-primary, border);
    color: map-get($buttons-primary, color);

    &:hover, &:focus {
      background-color: map-get($buttons-primary, hover);
    }

    &[disabled], &.disabled {
      &:hover, &:focus {
        background-color: map-get($buttons-primary, background);
      }
    }
  }

  &.link {
    color: map-get($links, color);
    background-color: transparent;
    border: 0 none;
    padding: 0;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

@mixin dimensions {
  &.full {
    width: 100%;
  }

  &.small {
    width: 100px;
  }

  &.large {
    width: 300px;
  }

  &.right {
    text-align: right;
  }
}

label {
  color: map-get($label, color);
  font-size: 1rem;

  > span {
    width: 200px;
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;

    @include dimensions;
  }
}

.input, textarea, select {
  color: map-get($input, color);
  border: solid 1px map-get($input, border);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.438rem;
  vertical-align: middle;
  width: 200px;

  @include dimensions;
}

select {
  height: 34px;
  background: #fff;
}

textarea {
  vertical-align: top;
  resize: vertical;
  height: calc(26px * 3); //Line numbers
}

input[type=radio], input[type=checkbox] {
  position: absolute;
  left: -9999px;

  + span:before {
    content: "";
    border: 2px solid #dadada;
    background-color: #fff;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
  }
}

input[type=radio] {
  + span:before {
    border-radius: 50%;
  }

  &:checked + span:before {
    border-color: #359c9c;
    background-color: #359c9c;
    box-shadow: 0 0 0 0.2rem white inset;
  }
}

input[type=checkbox] {
  + span:before {
    border-radius: 3px;
    text-align: center;
  }

  &:checked + span:before {
    border-color: #359c9c;
    background-color: #359c9c;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgMTEgOCI+ICA8cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTIuMTEyOTAxNCw0LjExODEwOTQ4IEMxMS45NTUzMDkxLDMuOTYwNjMwMTcgMTEuNjk2ODMzMiwzLjk2MDYzMDE3IDExLjUzOTEzODIsNC4xMTgxMDk0OCBMNi40NTAwNTg1Miw5LjIwMDUzNjA1IEM2LjI5MjM2MzUyLDkuMzU4MDE1MzUgNi4wMzM5OTAyOCw5LjM1ODAxNTM1IDUuODc2Mjk1MjgsOS4yMDA1MzYwNSBMMy44NTg0NDM3MSw3LjEzODMyMzk1IEMzLjcwMDc0ODcxLDYuOTgwODQ0NjQgMy40NDIzNzU0Niw2Ljk4MDg0NDY0IDMuMjg0NjgwNDYsNy4xMzgzMjM5NSBMMi41MTU5MzAxOCw3LjkwNjQzMzExIEMyLjM1ODIzNTE3LDguMDYzOTEyNDEgMi4zNTgyMzUxNyw4LjMyMTkzMjI1IDIuNTE1OTMwMTgsOC40Nzk0MTE1NSBMNS44NzYyOTUyOCwxMS44ODE4OTA1IEM2LjAzMzk5MDI4LDEyLjAzOTM2OTggNi4yOTIzNjM1MiwxMi4wMzkzNjk4IDYuNDUwMDU4NTIsMTEuODgxODkwNSBMMTIuODgxNjUxNyw1LjQ1ODc4NjcyIEMxMy4wMzk0NDk0LDUuMzAxMjA0ODIgMTMuMDM5NDQ5NCw1LjA0MzI4NzU3IDEyLjg4MTY1MTcsNC44ODU3MDU2OCBMMTIuMTEyOTAxNCw0LjExODEwOTQ4IFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yIC00KSIvPjwvc3ZnPg==);
  }
}
