$heading: (
  h1: #e76a25,
  h2: #e76a25,
  h3: #333,
  h4: #333,
  h5: #524947,
  h6: #524947
);

$buttons-default: (
  background: #ebebea,
  border: #dadada,
  color: #7d7873,
  hover: #dadada
);

$buttons-primary: (
  background: #fdb933,
  border: #f9a90e,
  color: #fff,
  hover: #f9a90e
);

$links: (
  color: #359c9c
);

$label: (
  color: #7d7873
);

$input: (
  color: #7d7873,
  border: #c1c1c1
);
