$fonts100: (
  eot: "museo-sans-100-webfont.eot",
  woff2: "museo-sans-100-webfont.woff2",
  woff: "museo-sans-100-webfont.woff",
  ttf: "museo-sans-100-webfont.ttf",
  svg: "museo-sans-100-webfont.svg"
);

$fonts300: (
  eot: "museo-sans-300-webfont.eot",
  woff2: "museo-sans-300-webfont.woff2",
  woff: "museo-sans-300-webfont.woff",
  ttf: "museo-sans-300-webfont.ttf",
  svg: "museo-sans-300-webfont.svg"
);

$fonts500: (
  eot: "museo-sans-500-webfont.eot",
  woff2: "museo-sans-500-webfont.woff2",
  woff: "museo-sans-500-webfont.woff",
  ttf: "museo-sans-500-webfont.ttf",
  svg: "museo-sans-500-webfont.svg"
);
